@import "variables";
@import "mixin";
@import "anim";
@import "logo-coeur";
@import "footer";

@media screen and  (min-width:1024px) {

    
    .bloc-fonctionnement
    {
        background: red;
        width: 380px;
        margin-left: 7%;
        margin-right: 0px;
    }
    .fonctionnement
    {
        display: flex;
    margin-top: 40px;
    flex-direction: inherit;
    }
   
    .explorer
    {
        height: 240px;
    }
    .liste-restau 
    {
     display: flex;
     flex-wrap: wrap;
    }
    .photo-restau
    {
    width: 400px;
    }
    .text-bloc
    {
     width: 400px;
    }
    .coeur-plein
    {
        margin-left: 300px;
    }
    .logo-new 
    {
        margin-left: 250px;
    }
    footer 
    {
        display: flex;
        flex-direction: column;
        align-items: center;
    p
    {
        font-size: 20px;
        margin-right: 5%;
        margin-bottom: 0px;
    }
    ul 
    {
        margin-right: 5%;
        font-size: 18px;
    }
    }
    
}