.logo-coeur {
  font-size: 25px;
  color: rgb(209, 208, 208);
  position: absolute;
  transform: translateY(-50%);
  cursor: pointer;
  .coeur-plein {
    color: rgb(209, 208, 208);
  }
  .coeur-vide {
    position: absolute;
    margin-left: -25px;
    margin-top: 2px;
    color: transparent;
  }
  &:focus .coeur-vide {
    animation: coeur 2s;
  }
}
